.about {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    background: #fff;
}

.img__container{
    position: relative;
    margin-top: 50px;
}
.content__container{
    position: relative;
    margin-top: 50px;
}
.content__container > p{
    font-size: 22px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    text-align: center;
}


.img__container > img {
    height: 500px;
    box-shadow: 0 10px 40px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 20px;
    
}
.about__container {
    display: grid;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    
}

.about__wrapper > p {
    margin-top: 25px;
    font-size: 25px;
    display: inline;
}

.about__wrapper {
    position: relative;
    margin: 10px 0 20px;
  }

@media screen and (max-width: 960px) {
    .img__container > img {
        height: 300px;
    }
    .about__container {
        display: flex;
        flex-flow: column;
        align-items: center;
        max-width: 40px;
        width: 90%;
        margin: 0 auto;
        
        
    }

    .content__container{
        position: relative;
        margin-top: -100px;
        margin-left: -150px;
        margin-right: -150px;
    }
}

@media screen and (max-width: 375px) {
    .about__container {
        display: flex;
        flex-flow: column;
        align-items: center;
        max-width: 1120px;
        width: 90%;
        margin: 0 auto;
        
        
    }

    .content__container{
        position: relative;
        margin-top: -50px;
        margin-left: -40px;
        margin-right: -40px;
    }
}

